services:
  dozzle:
    container_name: dozzle
    environment:
      TZ: America/Costa_Rica
    image: amir20/dozzle:latest
    mem_limit: "104857600"
    mem_reservation: "52428800"
    networks:
      homelab:
        ipv4_address: 172.20.0.50
    ports:
      - mode: ingress
        target: 8080
        published: "8080"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
        bind: {}
networks:
  default:
    name: homelab_default
  homelab:
    name: homelab_homelab
    external: true
    ipam:
      config:
        - subnet: 172.20.0.0/16
